@import 'styles/shared';

.container {
  @include make-container;
  max-width: $fixed-width-container;
  .wrapper {
    @include make-row;
    .left {
      @include make-col-ready;
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(3);
      }
    }
    .shop {
      @include make-col-ready;
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(5.5);
      }
      min-height: calc(100vh - 70px);
      padding-top: px(35);
      padding-left: px(65);
      padding-right: px(55);
      border-right: 1px solid $grey-300;
      border-left: 1px solid $grey-300;
      h4 {
        position: relative;
        margin-bottom: px(30);
        font-family: $primary-font;
        color: $black;
        i {
          position: absolute;
          margin-left: px(-50);
          cursor: pointer;
        }
      }
      small {
        font-size: px(14);
        color: $primary;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: flex;
          @include align-items(center);
          @include justify-content(space-between);
          padding: px(5) 0;
          font-weight: 500;
          color: $grey-500;
          cursor: pointer;
          i {
            font-size: px(12);
          }
          &:hover {
            color: $black;
          }
        }
      }
    }
    .button {
      display: flex;
      @include align-items(center);
      @include justify-content(center);
      width: 100%;
      height: px(46);
      margin: px(56) 0;
      font-family: $primary-font !important;
      font-weight: 500 !important;
      span {
        margin-right: px(15);
        font-size: px(22);
      }
    }

    .right {
      @include make-col-ready;
      @include make-col(12);
      @include media-breakpoint-up(md) {
        @include make-col(3.5);
      }
      padding-bottom: px(125);
    }
  }
}

.modal {
  min-height: px(400);

  > i {
    top: 10px !important;
    right: 10px !important;
    color: $grey-500 !important;
  }
}

.btn_white {
  min-width: px(120);
  color: $primary !important;
  background: $white !important;
  box-shadow: 0 px(2) px(2) $grey-300 !important;
}

.btn_primary {
  min-width: px(120);
  box-shadow: 0 px(2) px(2) $grey-300 !important;
}
