@import 'styles/shared';

.taglabels {
  div {
    font-size: px(14);
    font-weight: 400 !important;
    cursor: pointer;
    background-color: $grey-200 !important;
    border-radius: px(35) !important;
    svg {
      width: px(12);
      height: px(12);
      margin: 0 px(10);
    }
  }
}

.posts {
  padding: px(15) 0;
}
