@import 'styles/shared';

.AddPost {
  position: relative;

  .header {
    position: relative;

    .title {
      display: flex;
      padding-bottom: px(8);
      border-bottom: 1px solid $grey-300;
      @include justify-content(space-between);
      @include align-items(center);
      button {
        width: 100%;
        max-width: px(120);
        height: px(46);
      }
      h3 {
        margin-bottom: 0;
        padding-bottom: 0;
        font-family: $heading-font;
        color: $black;
        vertical-align: middle;
      }
    }
  }
  .author {
    display: flex;
    padding: px(45) 0 px(8);
    border-bottom: 1px solid $grey-300;
    @include align-items(center);

    span {
      font-weight: 600;
      color: $black;
    }
  }

  .post_message {
    position: relative;
    textarea {
      width: 100% !important;
      margin: px(15) 0;
      padding: px(10) px(5);
      font-family: $primary-font;
      border: 0 !important;

      &::placeholder {
        color: $grey-300;
      }
    }
  }

  .post_media {
    position: relative;
    display: flex;
    min-height: px(34);
    margin-top: px(25);
    padding: px(10);
    border: 1px solid $grey-300;
    border-radius: px(3);
    @include justify-content(space-between);
    @include align-items(center);
    .title {
      max-width: px(70);
      font-weight: 500;
      line-height: px(16);
    }
    .media_actions {
      display: flex;
      @include justify-content(center);
      @include align-items(center);
      span {
        display: flex;
        @include justify-content(center);
        @include align-items(center);
        width: px(36);
        height: px(26);
        margin: 0 px(5);
        cursor: pointer;
        svg {
          width: px(18);
          fill: $primary;
          @include transition-by(fill);
        }
        &:hover {
          svg {
            fill: $primary-dark;
          }
        }
      }
    }
  }
}
