@import 'styles/shared';

.AddBank {
  position: relative;

  h4 {
    font-family: $primary-font;
    color: $black;
  }
  .country_block {
    max-width: px(300);
    margin-top: px(34);

    .button_right {
      display: flex;
      @include align-items(center);
      @include justify-content(flex-end);
      margin: px(35) 0;

      button {
        min-width: px(150);
        height: px(46);
      }
    }
  }
  .info_block {
    position: relative;
    margin-top: px(34);
    padding-bottom: px(15);
    strong {
      font-family: $primary-font;
      font-weight: 400;
      color: $black;
    }
  }
  .label {
    padding-left: px(17);
    font-size: px(12) !important;
    font-weight: 400 !important;
    line-height: px(13);
    color: $grey-400 !important;
  }
  .button_submit {
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    margin: px(35) 0;

    button {
      min-width: px(220);
      height: px(46);
    }
  }
  .submit_block {
    display: flex;
    flex-direction: column;
    @include align-items(center);
    @include justify-content(center);
    min-height: px(300);
    padding: px(55) px(15);

    h4 {
      font-family: $heading-font;
      line-height: px(18);
    }
    p {
      line-height: px(12);
    }
  }
}
