//colors
$body-color: #777;
$primary: #3cacd7;
$primary-dark: #0686b4;
$secondary: #9ac1b2;
$black: #000;
$white: #fff;
$error-color: #dc3545;
$success-color: #6cbd45;
$facebook-clr: #3b5998;
$default-text-color: $body-color;
$grey-100: #f8fafa;
$grey-200: #eff6fc;
$grey-300: #ced0d2;
$grey-400: #cbcaca;
$grey-500: #747373;

//font
$primary-font: 'Jost', sans-serif !default;
$heading-font: 'Alata', sans-serif !default;

//fix conatiner
$fixed-width-container: 1248px;

$paragraph-margin-bottom: 1rem;
